:root {

  /* Base brand color variables */
  --primary-green-0: #000000;
  --primary-green-10: #001d13;
  --primary-green-20: #003725;
  --primary-green-30: #005036;
  --primary-green-40: #006a47;
  --primary-green-50: #008358;
  --primary-green-60: #00b67a;
  --primary-green-70: #03ffac;
  --primary-green-80: #50ffc5;
  --primary-green-90: #6dfbcc;
  --primary-green-95: #a9f3da;
  --primary-green-98: #cef1e5;
  --primary-green-99: #e9f5f1;
  --primary-green-100: #ffffff;
  --accent-orange-0: #000000;
  --accent-orange-10: #91270d;
  --accent-orange-20: #a92d0f;
  --accent-orange-30: #c03311;
  --accent-orange-40: #d83a13;
  --accent-orange-50: #eb4319;
  --accent-orange-60: #ef6948;
  --accent-orange-70: #f17c5f;
  --accent-orange-80: #f38f77;
  --accent-orange-90: #f5b7a8;
  --accent-orange-95: #f6cbc1;
  --accent-orange-98: #f8ded8;
  --accent-orange-99: #fdf8f7;
  --accent-orange-100: #ffffff;
  --accent-yellow-0: #000000;
  --accent-yellow-10: #665000;
  --accent-yellow-20: #806400;
  --accent-yellow-30: #997800;
  --accent-yellow-40: #b38c00;
  --accent-yellow-50: #cca000;
  --accent-yellow-60: #ffc800;
  --accent-yellow-70: #ffd333;
  --accent-yellow-80: #ffde66;
  --accent-yellow-90: #fce283;
  --accent-yellow-95: #f2e2a6;
  --accent-yellow-98: #f1ead0;
  --accent-yellow-99: #f7f5ee;
  --accent-yellow-100: #ffffff;
  --neutral-0: #000000;
  --neutral-10: #000000;
  --neutral-20: #030303;
  --neutral-30: #2a2a2a;
  --neutral-40: #434343;
  --neutral-50: #5d5d5d;
  --neutral-60: #767676;
  --neutral-70: #9c9c9c;
  --neutral-80: #c3c3c3;
  --neutral-90: #dcdcdc;
  --neutral-95: #f0f0f0;
  --neutral-98: #fafafa;
  --neutral-99: #fafafa;
  --neutral-100: #ffffff;

  /* Semantic color variables */
  --success-0: #000000;
  --success-10: #000000;
  --success-20: #000000;
  --success-30: #02190b;
  --success-40: #044a1e;
  --success-50: #077a32;
  --success-60: #0aaa46;
  --success-70: #10f164;
  --success-80: #58f593;
  --success-90: #91efb4;
  --success-95: #bdebcf;
  --success-98: #deefe4;
  --success-99: #f1f5f3;
  --success-100: #ffffff;
  --error-0: #000000;
  --error-10: #000000;
  --error-20: #000000;
  --error-30: #3e0101;
  --error-40: #720002;
  --error-50: #a50002;
  --error-60: #d80003;
  --error-70: #ff2529;
  --error-80: #ff7274;
  --error-90: #f8acad;
  --error-95: #f6d6d7;
  --error-98: #fbf5f5;
  --error-99: #fbf9f9;
  --error-100: #ffffff;
  --warning-0: #000000;
  --warning-10: #000000;
  --warning-20: #191401;
  --warning-30: #654f01;
  --warning-40: #997800;
  --warning-50: #cca000;
  --warning-60: #ffc800;
  --warning-70: #ffd94d;
  --warning-80: #ffe999;
  --warning-90: #fbf2d0;
  --warning-95: #fdfcf7;
  --warning-98: #fcfbf8;
  --warning-99: #fbfbf9;
  --warning-100: #ffffff;
  --info-0: #000000;
  --info-10: #000000;
  --info-20: #010305;
  --info-30: #0a2948;
  --info-40: #0e4377;
  --info-50: #145ca4;
  --info-60: #1976d2;
  --info-70: #4e9cea;
  --info-80: #92c2f2;
  --info-90: #c5dcf2;
  --info-95: #e9f0f7;
  --info-98: #f9fafb;
  --info-99: #fafafa;
  --info-100: #ffffff;

  /* Light theme roles */
  --md3-primary-main: var(--primary-green-40);
  --md3-primary-on: var(--primary-green-100);
  --md3-primary-container: var(--primary-green-90);
  --md3-primary-on-container: var(--primary-green-10);
  --md3-primary-inverse: var(--primary-green-80);
  --md3-secondary-main: var(--accent-orange-40);
  --md3-secondary-on: var(--accent-orange-100);
  --md3-secondary-container: var(--accent-orange-70);
  --md3-secondary-on-container: var(--accent-orange-10);
  --md3-tertiary-main: var(--accent-yellow-40);
  --md3-tertiary-on: var(--accent-yellow-100);
  --md3-tertiary-container: var(--accent-yellow-70);
  --md3-tertiary-on-container: var(--accent-yellow-10);
  --md3-neutral-surface-dim: var(--neutral-85);
  --md3-neutral-surface-regular: var(--neutral-90);
  --md3-neutral-surface-bright: var(--neutral-99);
  --md3-neutral-surface-container-lowest: var(--neutral-100);
  --md3-neutral-surface-container-low: var(--neutral-95);
  --md3-neutral-surface-container-regular: var(--neutral-90);
  --md3-neutral-surface-container-high: var(--neutral-85);
  --md3-neutral-surface-container-highest: var(--neutral-80);
  --md3-neutral-on-surface-regular: var(--neutral-10);
  --md3-neutral-on-surface-variant: var(--neutral-30);
  --md3-neutral-outline-regular: var(--neutral-40);
  --md3-neutral-outline-variant: var(--neutral-50);

  /* Semantic colors */
  --md3-success-base: var(--success-60);
  --md3-success-on: var(--success-100);
  --md3-success-container: var(--success-90);
  --md3-success-on-container: var(--success-0);
  --md3-error-base: var(--error-60);
  --md3-error-on: var(--error-100);
  --md3-error-container: var(--error-90);
  --md3-error-on-container: var(--error-0);
  --md3-warning-base: var(--warning-60);
  --md3-warning-on: var(--warning-100);
  --md3-warning-container: var(--warning-100);
  --md3-warning-on-container: var(--warning-0);
  --md3-info-base: var(--info-60);
  --md3-info-on: var(--info-100);
  --md3-info-container: var(--info-95);
  --md3-info-on-container: var(--info-0);
}

[data-theme="dark"] {
  --md3-primary-main: var(--primary-green-30);
  --md3-primary-on: var(--primary-green-100);
  --md3-primary-container: var(--primary-green-50);
  --md3-primary-on-container: var(--primary-green-100);
  --md3-primary-inverse: var(--primary-green-80);
  --md3-secondary-main: var(--accent-orange-30);
  --md3-secondary-on: var(--accent-orange-100);
  --md3-secondary-container: var(--accent-orange-50);
  --md3-secondary-on-container: var(--accent-orange-100);
  --md3-tertiary-main: var(--accent-yellow-30);
  --md3-tertiary-on: var(--accent-yellow-100);
  --md3-tertiary-container: var(--accent-yellow-50);
  --md3-tertiary-on-container: var(--accent-yellow-100);
  --md3-neutral-surface-regular: var(--neutral-6);
  --md3-neutral-surface-dim: var(--neutral-20);
  --md3-neutral-surface-bright: var(--neutral-5);
  --md3-neutral-on-surface-regular: var(--neutral-100);
  --md3-neutral-on-surface-variant: var(--neutral-90);
  --md3-neutral-surface-container-lowest: var(--neutral-10);
  --md3-neutral-surface-container-low: var(--neutral-15);
  --md3-neutral-surface-container-regular: var(--neutral-20);
  --md3-neutral-surface-container-high: var(--neutral-25);
  --md3-neutral-surface-container-highest: var(--neutral-30);
  --md3-neutral-outline-regular: var(--neutral-40);
  --md3-neutral-outline-variant: var(--neutral-60);
}
