:root {

  /* Light theme roles */
  --md3-primary-main: var(--primary-green-40);
  --md3-primary-on: var(--primary-green-100);
  --md3-primary-container: var(--primary-green-90);
  --md3-primary-on-container: var(--primary-green-10);
  --md3-primary-inverse: var(--primary-green-80);
  --md3-secondary-main: var(--accent-orange-40);
  --md3-secondary-on: var(--accent-orange-100);
  --md3-secondary-container: var(--accent-orange-80);
  --md3-secondary-on-container: var(--accent-orange-10);
  --md3-tertiary-main: var(--accent-yellow-40);
  --md3-tertiary-on: var(--accent-yellow-100);
  --md3-tertiary-container: var(--accent-yellow-80);
  --md3-tertiary-on-container: var(--accent-yellow-10);
  --md3-neutral-surface-dim: var(--neutral-70);
  --md3-neutral-surface-regular: var(--neutral-90);
  --md3-neutral-surface-bright: var(--neutral-100);
  --md3-neutral-surface-inverse: var(--neutral-10);
  --md3-neutral-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-dim: var(--neutral-20);
  --md3-neutral-on-surface-regular: var(--neutral-10);
  --md3-neutral-on-surface-bright: var(--neutral-0);
  --md3-neutral-on-surface-inverse: var(--neutral-100);
  --md3-neutral-on-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-surface-variant-dim: var(--neutral-60);
  --md3-neutral-surface-variant-regular: var(--neutral-80);
  --md3-neutral-surface-variant-bright: var(--neutral-90);
  --md3-neutral-surface-variant-inverse: var(--neutral-20);
  --md3-neutral-surface-variant-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-variant-dim: var(--neutral-30);
  --md3-neutral-on-surface-variant-regular: var(--neutral-20);
  --md3-neutral-on-surface-variant-bright: var(--neutral-10);
  --md3-neutral-on-surface-variant-inverse: var(--neutral-100);
  --md3-neutral-on-surface-variant-inverse-primary: var(--primary-green-80);

  /* Semantic colors */
  --md3-success-base: #0aaa46;
  --md3-success-on: #ffffff;
  --md3-success-container: #b8fbd1;
  --md3-success-on-container: #000000;
  --md3-error-base: #d80003;
  --md3-error-on: #ffffff;
  --md3-error-container: #ffd8d9;
  --md3-error-on-container: #000000;
  --md3-warning-base: #ffc800;
  --md3-warning-on: #ffffff;
  --md3-warning-container: #ffffff;
  --md3-warning-on-container: #000000;
  --md3-info-base: #1976d2;
  --md3-info-on: #ffffff;
  --md3-info-container: #edf5fd;
  --md3-info-on-container: #000000;
}

[data-theme="dark"] {
  --md3-primary-main: var(--primary-30);
  --md3-primary-on: var(--primary-100);
  --md3-primary-container: var(--primary-20);
  --md3-primary-on-container: var(--primary-100);
  --md3-primary-inverse: var(--primary-80);
  --md3-secondary-main: var(--accent-orange-30);
  --md3-secondary-on: var(--accent-orange-100);
  --md3-secondary-container: var(--accent-orange-20);
  --md3-secondary-on-container: var(--accent-orange-100);
  --md3-tertiary-main: var(--accent-yellow-30);
  --md3-tertiary-on: var(--accent-yellow-100);
  --md3-tertiary-container: var(--accent-yellow-20);
  --md3-tertiary-on-container: var(--accent-yellow-100);
  --md3-neutral-surface-dim: var(--neutral-20);
  --md3-neutral-surface-regular: var(--neutral-10);
  --md3-neutral-surface-bright: var(--neutral-0);
  --md3-neutral-surface-inverse: var(--neutral-100);
  --md3-neutral-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-dim: var(--neutral-70);
  --md3-neutral-on-surface-regular: var(--neutral-100);
  --md3-neutral-on-surface-bright: var(--neutral-100);
  --md3-neutral-on-surface-inverse: var(--neutral-10);
  --md3-neutral-on-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-surface-variant-dim: var(--neutral-30);
  --md3-neutral-surface-variant-regular: var(--neutral-20);
  --md3-neutral-surface-variant-bright: var(--neutral-10);
  --md3-neutral-surface-variant-inverse: var(--neutral-90);
  --md3-neutral-surface-variant-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-variant-dim: var(--neutral-80);
  --md3-neutral-on-surface-variant-regular: var(--neutral-100);
  --md3-neutral-on-surface-variant-bright: var(--neutral-100);
  --md3-neutral-on-surface-variant-inverse: var(--neutral-20);
  --md3-neutral-on-surface-variant-inverse-primary: var(--primary-green-80);
}
