:root {

  /* Base color variables */
  --primary-green-0: #000000;
  --primary-green-10: #010a07;
  --primary-green-20: #000000;
  --primary-green-30: #001d13;
  --primary-green-40: #005036;
  --primary-green-50: #008358;
  --primary-green-60: #00B67A;
  --primary-green-70: #03ffac;
  --primary-green-80: #50ffc5;
  --primary-green-90: #93ecce;
  --primary-green-95: #ace2d0;
  --primary-green-98: #d0e2dc;
  --primary-green-99: #e8edeb;
  --primary-green-100: #ffffff;
  --accent-orange-0: #000000;
  --accent-orange-10: #090301;
  --accent-orange-20: #491509;
  --accent-orange-30: #90280e;
  --accent-orange-40: #c03311;
  --accent-orange-50: #eb4319;
  --accent-orange-60: #EF6948;
  --accent-orange-70: #f5a38e;
  --accent-orange-80: #fbdcd5;
  --accent-orange-90: #e5a99a;
  --accent-orange-95: #dcbab1;
  --accent-orange-98: #dfd5d2;
  --accent-orange-99: #eceae9;
  --accent-orange-100: #ffffff;
  --accent-yellow-0: #000000;
  --accent-yellow-10: #0a0801;
  --accent-yellow-20: #191401;
  --accent-yellow-30: #654f01;
  --accent-yellow-40: #997800;
  --accent-yellow-50: #cca000;
  --accent-yellow-60: #ffc800;
  --accent-yellow-70: #ffd94d;
  --accent-yellow-80: #ffe999;
  --accent-yellow-90: #ecd993;
  --accent-yellow-95: #e2d6ac;
  --accent-yellow-98: #e2ded0;
  --accent-yellow-99: #edece8;
  --accent-yellow-100: #ffffff;
  --neutral-0: #000000;
  --neutral-10: #060505;
  --neutral-20: #030303;
  --neutral-30: #2a2a2a;
  --neutral-40: #434343;
  --neutral-50: #5d5d5d;
  --neutral-60: #767676;
  --neutral-70: #9c9c9c;
  --neutral-80: #c3c3c3;
  --neutral-90: #c4baba;
  --neutral-95: #cac4c4;
  --neutral-98: #dad8d8;
  --neutral-99: #ebeaea;
  --neutral-100: #ffffff;
  --success-0: #000000;
  --success-10: #010904;
  --success-20: #000000;
  --success-30: #02190b;
  --success-40: #044a1e;
  --success-50: #077a32;
  --success-60: #0aaa46;
  --success-70: #10f164;
  --success-80: #58f593;
  --success-90: #98e7b5;
  --success-95: #b0dec1;
  --success-98: #d1e0d7;
  --success-99: #e9ecea;
  --success-100: #ffffff;
  --error-0: #000000;
  --error-10: #0a0101;
  --error-20: #000000;
  --error-30: #3e0101;
  --error-40: #720002;
  --error-50: #a50002;
  --error-60: #d80003;
  --error-70: #ff2529;
  --error-80: #ff7274;
  --error-90: #ec9394;
  --error-95: #e2acad;
  --error-98: #e2d0d0;
  --error-99: #ede8e8;
  --error-100: #ffffff;
  --warning-0: #000000;
  --warning-10: #0a0801;
  --warning-20: #191401;
  --warning-30: #654f01;
  --warning-40: #997800;
  --warning-50: #cca000;
  --warning-60: #ffc800;
  --warning-70: #ffd94d;
  --warning-80: #ffe999;
  --warning-90: #ecd993;
  --warning-95: #e2d6ac;
  --warning-98: #e2ded0;
  --warning-99: #edece8;
  --warning-100: #ffffff;
  --info-0: #000000;
  --info-10: #020509;
  --info-20: #010305;
  --info-30: #0a2948;
  --info-40: #0e4377;
  --info-50: #145ca4;
  --info-60: #1976d2;
  --info-70: #4e9cea;
  --info-80: #92c2f2;
  --info-90: #9cbfe2;
  --info-95: #b3c7db;
  --info-98: #d3d9df;
  --info-99: #e9ebec;
  --info-100: #ffffff;
  --neutral-0: #000000;
  --neutral-10: #060505;
  --neutral-20: #030303;
  --neutral-30: #2a2a2a;
  --neutral-40: #434343;
  --neutral-50: #5d5d5d;
  --neutral-60: #767676;
  --neutral-70: #9c9c9c;
  --neutral-80: #c3c3c3;
  --neutral-90: #c4baba;
  --neutral-95: #cac4c4;
  --neutral-98: #dad8d8;
  --neutral-99: #ebeaea;
  --neutral-100: #ffffff;

  /* Light theme roles */
  --md3-primary-main: var(--primary-green-40);
  --md3-primary-on: var(--primary-green-100);
  --md3-primary-container: var(--primary-green-90);
  --md3-primary-on-container: var(--primary-green-10);
  --md3-primary-inverse: var(--primary-green-80);
  --md3-secondary-main: var(--accent-orange-40);
  --md3-secondary-on: var(--accent-orange-100);
  --md3-secondary-container: var(--accent-orange-70);
  --md3-secondary-on-container: var(--accent-orange-10);
  --md3-tertiary-main: var(--accent-yellow-40);
  --md3-tertiary-on: var(--accent-yellow-100);
  --md3-tertiary-container: var(--accent-yellow-70);
  --md3-tertiary-on-container: var(--accent-yellow-10);
  --md3-neutral-surface-dim: var(--neutral-70);
  --md3-neutral-surface-regular: var(--neutral-90);
  --md3-neutral-surface-bright: var(--neutral-100);
  --md3-neutral-surface-inverse: var(--neutral-10);
  --md3-neutral-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-dim: var(--neutral-20);
  --md3-neutral-on-surface-regular: var(--neutral-10);
  --md3-neutral-on-surface-bright: var(--neutral-0);
  --md3-neutral-on-surface-inverse: var(--neutral-100);
  --md3-neutral-on-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-surface-variant-dim: var(--neutral-60);
  --md3-neutral-surface-variant-regular: var(--neutral-80);
  --md3-neutral-surface-variant-bright: var(--neutral-90);
  --md3-neutral-surface-variant-inverse: var(--neutral-20);
  --md3-neutral-surface-variant-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-variant-dim: var(--neutral-30);
  --md3-neutral-on-surface-variant-regular: var(--neutral-20);
  --md3-neutral-on-surface-variant-bright: var(--neutral-10);
  --md3-neutral-on-surface-variant-inverse: var(--neutral-100);
  --md3-neutral-on-surface-variant-inverse-primary: var(--primary-green-80);

  /* Semantic colors */
  --md3-success-base: var(--success-60);
  --md3-success-on: var(--success-100);
  --md3-success-container: var(--success-90);
  --md3-success-on-container: var(--success-0);
  --md3-error-base: var(--error-60);
  --md3-error-on: var(--error-100);
  --md3-error-container: var(--error-90);
  --md3-error-on-container: var(--error-0);
  --md3-warning-base: var(--warning-60);
  --md3-warning-on: var(--warning-100);
  --md3-warning-container: var(--warning-100);
  --md3-warning-on-container: var(--warning-0);
  --md3-info-base: var(--info-60);
  --md3-info-on: var(--info-100);
  --md3-info-container: var(--info-95);
  --md3-info-on-container: var(--info-0);
}

[data-theme="dark"] {
  --md3-primary-main: var(--primary-green-30);
  --md3-primary-on: var(--primary-green-100);
  --md3-primary-container: var(--primary-green-50);
  --md3-primary-on-container: var(--primary-green-100);
  --md3-primary-inverse: var(--primary-green-80);
  --md3-secondary-main: var(--accent-orange-30);
  --md3-secondary-on: var(--accent-orange-100);
  --md3-secondary-container: var(--accent-orange-50);
  --md3-secondary-on-container: var(--accent-orange-100);
  --md3-tertiary-main: var(--accent-yellow-30);
  --md3-tertiary-on: var(--accent-yellow-100);
  --md3-tertiary-container: var(--accent-yellow-50);
  --md3-tertiary-on-container: var(--accent-yellow-100);
  --md3-neutral-surface-dim: var(--neutral-20);
  --md3-neutral-surface-regular: var(--neutral-10);
  --md3-neutral-surface-bright: var(--neutral-0);
  --md3-neutral-surface-inverse: var(--neutral-100);
  --md3-neutral-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-dim: var(--neutral-70);
  --md3-neutral-on-surface-regular: var(--neutral-100);
  --md3-neutral-on-surface-bright: var(--neutral-100);
  --md3-neutral-on-surface-inverse: var(--neutral-10);
  --md3-neutral-on-surface-inverse-primary: var(--primary-green-80);
  --md3-neutral-surface-variant-dim: var(--neutral-30);
  --md3-neutral-surface-variant-regular: var(--neutral-20);
  --md3-neutral-surface-variant-bright: var(--neutral-10);
  --md3-neutral-surface-variant-inverse: var(--neutral-90);
  --md3-neutral-surface-variant-inverse-primary: var(--primary-green-80);
  --md3-neutral-on-surface-variant-dim: var(--neutral-80);
  --md3-neutral-on-surface-variant-regular: var(--neutral-100);
  --md3-neutral-on-surface-variant-bright: var(--neutral-100);
  --md3-neutral-on-surface-variant-inverse: var(--neutral-20);
  --md3-neutral-on-surface-variant-inverse-primary: var(--primary-green-80);
}
