// Dark Theme Color Roles
@use './palette' as *;

$primary-roles: (
  'main': var(--primary-30),
  'on': var(--primary-100),
  'container': var(--primary-20),
  'on-container': var(--primary-100),
  'inverse': var(--primary-80)
) !default;

$secondary-roles: (
  'main': var(--accent-orange-30),
  'on': var(--accent-orange-100),
  'container': var(--accent-orange-20),
  'on-container': var(--accent-orange-100)
) !default;

$tertiary-roles: (
  'main': var(--accent-yellow-30),
  'on': var(--accent-yellow-100),
  'container': var(--accent-yellow-20),
  'on-container': var(--accent-yellow-100)
) !default;

$neutral-roles: (
  'surface': (
    'dim': palette-color('neutral', 20),
    'regular': palette-color('neutral', 10),
    'bright': palette-color('neutral', 0),
    'inverse': palette-color('neutral', 100),
    'inverse-primary': palette-color('primary-green', 80)
  ),
  'container': (
    'lowest': palette-color('neutral', 5),
    'low': palette-color('neutral', 10),
    'medium': palette-color('neutral', 15),
    'high': palette-color('neutral', 20),
    'highest': palette-color('neutral', 25)
  ),
  'onSurface': (
    'regular': palette-color('neutral', 95),
    'variant': palette-color('neutral', 90),
    'inverse': palette-color('neutral', 10),
    'inverse-primary': palette-color('primary-green', 20)
  ),
  'outline': (
    'regular': palette-color('neutral', 50),
    'variant': palette-color('neutral', 20)
  ),
  'scrim': (
    'regular': rgba(palette-color('neutral', 10), 0.32)
  ),
  'shadow': (
    'regular': rgba(palette-color('neutral', 10), 0.12)
  )
) !default;

$md3-dark: (
  'primary': $primary-roles,
  'secondary': $secondary-roles,
  'tertiary': $tertiary-roles,
  'neutral': $neutral-roles,
)