// Light Theme Color Roles
@use './palette' as *;
$primary-roles: (
  'main': palette-color('primary-green', 40),
  'on': palette-color('primary-green', 100),
  'container': palette-color('primary-green', 90),
  'on-container': palette-color('primary-green', 10),
  'inverse': palette-color('primary-green', 80)
) !default;

$secondary-roles: (
  'main': palette-color('accent-orange', 40),
  'on': palette-color('accent-orange', 100),
  'container': palette-color('accent-orange', 90),
  'on-container': palette-color('accent-orange', 10)
) !default;

$tertiary-roles: (
  'main': palette-color('accent-yellow', 40),
  'on': palette-color('accent-yellow', 100),
  'container': palette-color('accent-yellow', 90),
  'on-container': palette-color('accent-yellow', 10)
) !default;

$neutral-roles: (
  'surface': (
    'dim': palette-color('neutral', 70),
    'regular': palette-color('neutral', 90),
    'bright': palette-color('neutral', 100),
    'inverse': palette-color('neutral', 10),
    'inverse-primary': palette-color('primary-green', 80)
  ),
  'container': (
    'lowest': palette-color('neutral', 98),
    'low': palette-color('neutral', 95),
    'medium': palette-color('neutral', 90),
    'high': palette-color('neutral', 85),
    'highest': palette-color('neutral', 80)
  ),
  'onSurface': (
    'regular': palette-color('neutral', 10),
    'variant': palette-color('neutral', 50),
    'inverse': palette-color('neutral', 90),
    'inverse-primary': palette-color('primary-green', 20)
  ),
  'outline': (
    'regular': palette-color('neutral', 90),
    'variant': palette-color('neutral', 80)
  ),
  'scrim': (
    'regular': rgba(palette-color('neutral', 10), 0.32)
  ),
   'shadow': (
    'regular': rgba(palette-color('neutral', 10), 0.12))
) !default;

$md3-light: (
  'primary': $primary-roles,
  'secondary': $secondary-roles,
  'tertiary': $tertiary-roles,
  'neutral': $neutral-roles,
)