// Light Theme Color Roles
@use './_palette' as *;
$primary-roles: (
  'main': var(--md3-roles-primarygreen-base),
  'on': var(--md3-roles-primarygreen-on),
  'container': var(--md3-roles-primarygreen-container),
  'on-container': var(--md3-roles-primarygreen-on-container),
  'inverse': var(--primary-green-80)
) !default;

$secondary-roles: (
  'main': var(--md3-roles-accentorange-base),
  'on': var(--md3-roles-accentorange-on),
  'container': var(--md3-roles-accentorange-container),
  'on-container': var(--md3-roles-accentorange-on-container)
) !default;

$tertiary-roles: (
  'main': var(--md3-roles-accentyellow-base),
  'on': var(--md3-roles-accentyellow-on),
  'container': var(--md3-roles-accentyellow-container),
  'on-container': var(--md3-roles-accentyellow-on-container)
) !default;

$neutral-roles: (
  'surface': (
    'dim': var(--neutral-70),
    'regular': var(--neutral-90),
    'bright': var(--neutral-100),
    'inverse': var(--neutral-10),
    'inverse-primary': var(--primary-green-80)
  ),
  'container': (
    'lowest': var(--neutral-98),
    'low': var(--neutral-95),
    'medium': var(--neutral-90),
    'high': var(--neutral-85),
    'highest': var(--neutral-80)
  ),
  'onSurface': (
    'regular': var(--neutral-10),
    'variant': var(--neutral-50),
    'inverse': var(--neutral-90),
    'inverse-primary': var(--primary-green-20)
  ),
  'outline': (
    'regular': var(--neutral-90),
    'variant': var(--neutral-80)
  ),
  'scrim': (
    'regular': rgba(var(--neutral-10), 0.32)
  ),
   'shadow': (
    'regular': rgba(var(--neutral-10), 0.12))
) !default;

$md3-light: (
  'primary': $primary-roles,
  'secondary': $secondary-roles,
  'tertiary': $tertiary-roles,
  'neutral': $neutral-roles,
)